.infoitem{
    width: 100%;
    margin: 0;
    background-color: var(--blue50);
    border-radius: 15px;
}

.inneritem{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 48px;
}

.sidetitle{
    font-family: var(--font);
    font-size: 2rem;
    color: var(--navy800);
    width: 30%;
    padding-top: 24px;
    padding-left: 48px;
    font-weight: bold;
}

.main_contain{
    width: 70%;
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
}

.item_title{
    width: 30%;
    font-family: var(--font);
    font-size: 1.2rem;
    color: var(--grey800);
    font-weight: bold;
    padding-top: 8px;
}

.item_input{
    width: 70%;
    font-family: var(--font);
    font-size: 1.2rem;
    color: var(--grey600);
    padding-top: 8px;
}

.item_inputtag{
    width: 80%;
    border: none;
}

.save_liner{
    width: 100%;
    padding-top: 48px;
    padding-right: 10%;
    display: flex;
    justify-content: right;
}

.item_btn{
    border: none;
    box-shadow: none;
    background-color: var(--navy800);
    font-family: var(--font);
    font-size: 1.2rem;
    color: var(--blue50);
    padding: 8px 24px;
    transition: all 0.5s;
}

.item_btn:hover{
    background-color: var(--navy600);
}