@charset "UTF-8";
ul {
	padding: 0;
}

.commu-container {
	width: 100%;
    max-width: 80rem;
	padding: 10vh 0 50px 0;
    margin: 0 auto;
}

.commu-info2 {
	display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.commu-info2 button:first-child {
	margin-right: 7px;
}


.title_area {
	display: flex;
    justify-content: space-between;
    padding: 11px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    background: #FCFCFC;
    line-height: 1.5em;
    white-space: nowrap;
}

.idDayCnt_erea {
    border-bottom: 1px solid #EEE;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    border-top: 1px solid #EEE;
}

.commu-button {
    position: relative;
    display: inline-block;
    background: #fff;
    height: 37px;
    line-height: 25px;
    padding: 0px 12px;
    margin: 0;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    outline: none;
}

.button-list-area {
	display: flex;
    justify-content: space-between;
}
/* 댓글 css start ----- */
.cmt-day {
	padding: 0 12px;
    font-size: 11px;
    color: #888;
}

.commu-content {
	height: auto;
    min-height: 50vh;
    border-bottom: 1px solid var(--bs-gray-300);
    margin-bottom: 18px;
}


.commentcount-display {
	padding: 7px 12px;
    border: 1px solid #CCC;
    border-radius: 0px;
    background: #FCFCFC;
    margin-top: 28px;
    margin-bottom: 18px;	
}




.cmt-li {
	width: 100%;
	padding: 12px 12px 10px 10px;
    border-bottom: 1px solid #EEE;
    transition: background .5s;
}
.cmt-flexbox {
	display: flex;
    width: 100%;
}

.cmt-writecon {
	display:flex;
	justify-content: space-between;
}
.cmt-right {
	width: 100%;
	
}
.recmt-content {
	width: 100%;	
}

.recmt-write {
	display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.cmt-rotate-icon {
	transform: rotate(180deg);
	opacity: 20%;
}

.cmt-fkuserid {
	color: var(--blue600);
    background: var(--blue50);
    border-radius: 4px;
    padding: 4px;
    margin-right: 0.6em;
}

.opacity-5 {
	opacity: 0.5;	
}

.pagination {
    display: flex;
    justify-content: center;
}
/* 댓글 css end ----- */


