@charset "UTF-8";

.b_red {
	border: solid 1px red;
}

.b_blue {
	border: solid 1px blue;
}

.b_black {
	border: solid 1px black;
}

#search_flexbox {
	background-color: var(--blue100);
    border-radius: 11px;
}

.listGuide {
	display: table;
}

.b_border {
	border-bottom: solid 1px rgb(163, 163, 163);
}

.subject {
	border-bottom: none;
}

.search_ch {
	height: 40px;
	border: none;
	border-radius: 0.5rem;
}

.sel_0 {
	width: 200px;
	margin-right: 2rem;
	padding: 0 40px 0 20px;
}

.sel_1 {
	width: 150px;
	margin-right: 2rem;
	padding: 0 40px 0 20px;
}

.sel_2 {
	width: 25%;
	padding-left: 20px;
}

button.search {
	margin: 0;
	width: 100px;
}

input:focus, select {
	outline: none;
}

/* 정렬 */
.sort-container {
    position: relative;
    display: inline-block;
    float: right;
}

#sort-button {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    display: inline-block;
    background: #fff;
    height: 37px;
    line-height: 25px;
    padding: 0px 12px;
    border: 1px solid #ccc;
    margin-top: 4vh;
    margin-bottom: 2vh;
}
#sort-button span {
	margin-left: 5px;
}

#sort-dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#sort-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#sort-dropdown a:hover {
    background-color: #f1f1f1;
}

/* 정렬 끝  */

.listshow {
	clear: both;
}


.subject {
	border-top: 3px solid black;
	border-bottom: 1px solid black;
}

button.write {
	width: 120px;
	height: 50px;
	background-color: white;
	border: solid 2px var(--text-black-color);
	font-size: 1rem;
	border-radius: 0.5rem;
	
}

button.write:hover{
	background-color: var(--primary-background-color);
	color: var(--text-white-color);
	border: none;
	
}

.list--item:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}


/* 페이지네이션  */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
