@charset "UTF-8";


p {
	margin:0;
}


.b_red {
	border: solid 1px red;
}

.b_blue {
	border: solid 1px blue;
}

.b_black {
	border: solid 1px black;
}

#search_flexbox {
	background-color: var(--blue100);
    border-radius: 11px;
}

.listGuide {
	display: table;
}

.b_border {
	border-bottom: solid 1px rgb(163, 163, 163);
}

.subject {
	border-bottom: none;
}

.search_ch {
	height: 40px;
	border: none;
	border-radius: 0.5rem;
}

.sel_0 {
	width: 200px;
	margin-right: 2rem;
	padding: 0 40px 0 20px;
}

.sel_1 {
	width: 150px;
	margin-right: 2rem;
	padding: 0 40px 0 20px;
}

.sel_2 {
	width: 25%;
	padding-left: 20px;
}

button.search {
	margin: 0;
	width: 100px;
}

input:focus, select {
	outline: none;
}

.subject {
	border-top: 3px solid black;
	border-bottom: 1px solid black;
}

button.write {
	width: 120px;
	height: 50px;
	background-color: white;
	border: solid 2px var(--text-black-color);
	font-size: 1rem;
	border-radius: 0.5rem;
	
}

button.write:hover{
	background-color: var(--primary-background-color);
	color: var(--text-white-color);
	border: none;
	
}

.list--item:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}


.nosearch {
    width: 100%;
    height: 20vh;
    background-color: var(--blue50);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}


.category-span {
	border-radius: 4px;
    padding: 7px;
}

.category0 {
	color: #a40d0d;
    background: #fff3fc;
}

.category1 {
	color: var(--blue600);
    background: var(--blue50);
}

.category2 {
	color: #0da428;
    background: #e9fae7;
}

.category3 {
    color: #590da4;
    background: #f3eafa;
}

.category4 {
	color: #dc8142;
    background: #ffe7da;
}

.category5 {
    color: #565656;
    background: #f2f2f2;
}

.category6 {
	color: #0d84a4;
    background: #eafafa;
}

.category7 {
    color: #322b9b;
    background: #ecedff;
}

.category8 {
	color: #ce3d00;
    background: #ffe4a8;
}



/* 페이지네이션  */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
