@charset "UTF-8";

#calendar{
	max-width: 1100px;
}

.fc-button-primary{
	background-color: var(--navy50) !important;
	color: black !important;
}

.fc-toolbar-title{
	font-weight: bold !important;
}

.fc-day-today{
	background-color : var(--blue100) !important;
}

.fc-daygrid-event-dot, .fc-list-event-dot{
	border : calc(var(--fc-daygrid-event-dot-width) / 2) solid #008060 !important;
}

.fc-event-main{
	background-color: var(--navy600); 
}

.fc-daygrid-day-events{
	position: absolute !important;
}

.fc-event-title, .fc-list-event-title{
	cursor: pointer !important;
}

/* 모달 css start */
.modal-header{
	display: inline-block;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-content {
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 45rem;
}

#modal-name{
	float: left;
	font-size: 1.25rem;
    margin: 1.2vh 0;
}

.modal-title {
    font-weight: bold;
    color: #333;
    display: inline;
}

.modal-body {
    font-size: 16px;
    color: #555;
}

/* 테이블 스타일 start */
.row-table {
    margin-bottom: 20px;
}


.row-table table {
    width: 100%;
    border-collapse: collapse;
}


.row-table th {
    background-color: #f7f7f7;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
}

.row-table td {
    background-color: #fff;
    padding: 12px;
    color: #555;
    border: 1px solid #ddd;
}


.row-table th,
.row-table td {
    font-size: 14px;
}
/* 테이블 스타일 end */
