@charset "UTF-8";

.mobile-only {
	display: none;
}
    
p {
	margin: 0;
}


h1 {
	font-size: 24px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

#container {
	width: 96rem;
    height: 73vh;
    margin: 17vh auto 29vh auto;
}

#wrap_container {
	padding-bottom: 30vh;
}

.form-check {
	display: flex;
	margin-left: 9px;
    align-items: center;
}
#check-status {
	width: 1%;
}



#map {
	width: 100%;
	height: 100%;
	position:relative;
	overflow:hidden;
	margin:0;
}
  
#flexbox_map {
	display: flex;
	align-items: center;
	width: 96rem;
	height: 80vh;
    margin: 0 auto;
	
}
.map_wrap {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: inherit;
}



.dropdown_hpsearch {
	width: 100%;
	border: 1px solid #ccc;
	padding: 20px;
	background-color: #fff;
    margin-top: 55px;
    margin-bottom: 28px;
}

.dropdown_hpsearch select, .dropdown_hpsearch input, .dropdown_hpsearch button {
	width: 25%;
    margin: 5px 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

.dropdown_hpsearch select:focus, .dropdown_hpsearch input:focus, .dropdown_hpsearch button:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#searchHpname {
    width: 45.6%;
}

.dropdown_hpsearch button {
	width: 5%;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 0;
}

.dropdown_hpsearch button:hover {
    background-color: #0056b3;
}




/* 인포윈도우 커스텀 start */
.mycontent {
    width: 256px;
    padding: 19px;
}

.cb-content {
	cursor:  pointer;
}


.cb-box {
    width: 15rem;
    padding: 0.4rem;
}

.custom-overlay {
    position: relative;
    top: -8vh;
    left: 16.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.custom-overlay .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.custom-overlay .cb-content {
    cursor: pointer;
    margin-bottom: 5px;
}

/* 인포윈도우 커스텀 end */


#flexbox_map #hplist {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 50%;
	height:inherit;
	/*background-color: var(--grey300);*/
	overflow: hidden scroll;
}

/* 페이지바 CSS 시작 */

div#hplist::-webkit-scrollbar,
select::-webkit-scrollbar
 {
   background: #f7f7f7;
   width: 0.7rem;
}


div#hplist::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
    background: var(--blue400); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

/* 페이지바 CSS 끝 */

/* -- CSS 로딩화면 구현 시작(bootstrap 에서 가져옴) 시작 -- */    
div#loaderArr{
  	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
div.loader {
	border: 12px solid #f3f3f3;
   	border-radius: 50%;

    border-top: 12px solid blue;
    
    border-bottom: 12px solid blue;

   	width: 100px;
   	height: 100px;
   	-webkit-animation: spin 2s linear infinite; /* Safari */
   	animation: spin 2s linear infinite;

}

.msg_capslock{
	padding-bottom: 12px;
	color : #DC3545;
	font-weight: bold;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
/* -- CSS 로딩화면 구현 끝(bootstrap 에서 가져옴) 끝 -- */





ul#hospitalList {
    list-style-type: none;
    padding: 0;
    cursor:pointer;
}

ul#hospitalList div#no_searchList {
	margin-top: 27vh;
	display: flex;
    flex-direction: column;
    align-items: center;
}

div#no_searchList > span {
	font-size: 61px;
}

.hospital-item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.hospital-label, .click-marker {
    font-size: 20px;
    font-weight: bold;
    color: var(--blue500);
    border: 1px solid var(--blue500);
    width: 33px;
    margin-right: 10px;
    height: 31px;
    border-radius: 50%;
    text-align: center;
}

.click-maker {
	background-color: var(--blue500);
	color: var(--grey50);
}

.hospital-type {
    color: var(--grey600);
    background: var(--grey100);
    border-radius: 4px;
    padding: 4px;
    margin-left: 0.6em;
}

/* status start */
.day-on {
	color:rgb(55, 178, 77);
}
.day-on-circle {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(81, 207, 102);
    margin-right: 4px;
}
.status-flexbox {
	margin-top: 1.0vh;
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 18px;
}
.day-off {
	color: var(--bs-gray-600);
} 
/*  status end */

.hospital-details {
	border-bottom: 1px solid var(--grey200);
    flex: 1;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
}
.index-name-flexbox {
	display: flex;
	align-items: center;
}

.hospital-name {
	margin: 0px;
    font-size: 22px;
    font-weight: bold;
}

.hospital-contact,
.hospital-address {
    margin-top: 5px;
    margin-bottom: 11px;
}

.details-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.details-button:hover {
    background-color: #0056b3;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.page-link {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.page-link:hover {
    background-color: #f0f0f0;
}


/* 모달 css start */

.modal-content {
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 45rem;
}

#modal-hpname,
.modal-mini-title
 {
	float: left;
	font-size: 1.25rem;
    margin: 1.2vh 0;
}

.modal-title {
    font-weight: bold;
    color: #333;
}


.modal-body {
    font-size: 16px;
    color: #555;
}

/* 테이블 스타일 start */
.row-table {
    margin-bottom: 20px;
}


.row-table table {
    width: 100%;
    border-collapse: collapse;
}


.row-table th {
    background-color: #f7f7f7;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
}

.row-table td {
    background-color: #fff;
    padding: 12px;
    color: #555;
    border: 1px solid #ddd;
}


.row-table th,
.row-table td {
    font-size: 14px;
}
/* 테이블 스타일 end */


.modal-footer {
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}


.btn-secondary {
    background-color: #6c757d;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* 버튼 호버 효과 */
.btn-secondary:hover {
    background-color: #5a6268;
    color: #fff;
}


.modal-body p strong {
    color: #333;
    font-weight: bold;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}
/* 모달 css end */


/* 반응형 디자인을 위한 미디어 쿼리 */

@media (max-width: 1200px) {
    #container {
        width: 90%;
        margin: 10vh auto 20vh auto;
    }
    
	.mobile-only {
		display: block;
		display: flex;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 1vh;
		margin-top: 4vh;
    }
    .tab-content {
        display: none;
    }
    
    .tab-content.active {
        display: block;
    }
    
    .tab-button {
        width: 50%;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        display: inline-block;
    }
    
    .tab-button.active {
        background-color: #007BFF;
        color: white;
    }


	.dropdown_hpsearch button {
		width:7%;
	}
	
    #flexbox_map {
        flex-direction: column;
        width: 100%;
        height: 70vh;
    }

	#wrap_container {
		padding-bottom: 1vh;
	}
    .map_wrap,
    #flexbox_map #hplist {
        width: 100%;
        height: 50vh;
    }
    
}

@media (max-width: 992px) {
	
	.dropdown_hpsearch button {
		width:9%;
	}
	.mobile-only {
		display: block;
		display: flex;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 1vh;
		margin-top: 4vh;
    }
    #wrap_container {
		margin-bottom: 0vh;
	}
    .tab-content {
        display: none;
    }
    
    .tab-content.active {
        display: block;
    }
    
    .tab-button {
        width: 50%;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        display: inline-block;
    }
    
    .tab-button.active {
        background-color: #007BFF;
        color: white;
    }
   	.form-check {
	    margin-left: 0px; 
	}
	ul#hospitalList div#no_searchList {
		margin-top: 16vh;
	}
	
    #flexbox_map {
        flex-direction: column;
        height: auto;
    }

    .map_wrap,
    #flexbox_map #hplist {
        width: 100%;
        height: 50vh;
    }

    .dropdown_hpsearch {
        flex-direction: column;
        width:100%;
    }

    .dropdown_hpsearch select,
    .dropdown_hpsearch input,
    .dropdown_hpsearch button {
        margin: 5px 0;
    }
}




@media (max-width: 768px) {
	
    .dropdown_hpsearch {
		width: 90%;
		margin: 0 auto;
    }
	.mobile-only {
		display: block;
		display: flex;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 1vh;
		margin-top: 4vh;
    }
    #wrap_container {
		margin-bottom: 26vh; 
	}
    .tab-content {
        display: none;
    }
    
    .tab-content.active {
        display: block;
    }
    
    .tab-button {
        width: 50%;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        display: inline-block;
    }
    
    .tab-button.active {
        background-color: #007BFF;
        color: white;
    }
	
	
	h1 {
        font-size: 20px;
        text-align: center;
        border-bottom: none;
    }
    #container {
        width: 100%;
        margin: 5vh auto 15vh auto;
    }
    #searchHpname {
    	width:100%;
    }
   	.form-check {
	    margin-left: 0px; 
	}
    .dropdown_hpsearch select,
    .dropdown_hpsearch input,
    .dropdown_hpsearch button {
        width: 100%;
    }
  
     .dropdown_hpsearch {
     flex-direction: column;
     align-items: center;
     }
     
    #flexbox_map {
    	width:90%;
    }
    
}

@media (max-width: 576px) {
	.dropdown_hpsearch {
		width: 90%;
		margin: 0 auto;
    }
	.mobile-only {
		display: block;
		display: flex;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 1vh;
		margin-top: 4vh;
    }
    #wrap_container {
		margin-bottom: 38vh;
	}
    
    .tab-content {
        display: none;
    }
    
    .tab-content.active {
        display: block;
    }
    h1 {
        font-size: 20px;
        text-align: center;
        border-bottom: none;
    }

    .dropdown_hpsearch select,
    .dropdown_hpsearch input,
    .dropdown_hpsearch button {
        width: 100%;
    }
   	.form-check {
	    margin-left: 0px; 
	}

    .details-button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .hospital-details {
        padding: 10px;
    }
    
    .hospital-label, .click-marker {
        font-size: 16px;
        width: 25px;
        height: 25px;
    }
    
    .hospital-name {
        font-size: 18px;
    }
    
    .hospital-type {
        font-size: 14px;
    }
    
    #flexbox_map {
    	width:90%;
    }
}

@media (max-width: 375px) {
	.mobile-only {
		display: block;
		display: flex;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 1vh;
		margin-top: 4vh;
    }
    
	#wrap_container {
		margin-bottom: 54vh;
	}
    
    .tab-content {
        display: none;
    }
    
    .tab-content.active {
        display: block;
    }
    h1 {
        font-size: 18px;
        text-align: center;
        border-bottom: none;
    }

    #container {
        width: 100%;
        margin: 5vh auto 10vh auto;
    }
	.form-check {
	    margin-left: 0px; 
	}
    #flexbox_map {
        flex-direction: column;
        height: auto;
    }

    .map_wrap,
    #flexbox_map #hplist {
        width: 100%;
    }

    .dropdown_hpsearch {
        flex-direction: column;
        align-items: center;
    }

    .dropdown_hpsearch select,
    .dropdown_hpsearch input,
    .dropdown_hpsearch button {
        width: 100%; 
        margin: 5px 0;
        padding: 8px;
        font-size: 14px;
    }

    .details-button {
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }

    .hospital-details {
        padding: 10px;
    }
    
    .hospital-label, .click-marker {
        font-size: 14px;
        width: 20px;
        height: 20px;
    }
    
    .hospital-name {
        font-size: 16px;
    }
    
    .hospital-type {
        font-size: 12px;
    }
    
    ul#hospitalList div#no_searchList {
    	margin-top: 16vh;
	}
}

