@charset "UTF-8";
:root {
    --primary-background-color : #0066cc; /* 주 메인 색상 - 넓은 색상 부분에 작업해주시면 됩니다. */
    --sub-background-color : #e6f7ff; /* 서브 색상 - 옅은 색상 부분에 적용(옅은 하늘색) */

     /* div background 색상 등 object 컬럼 색상입니다 */
    --object-lightpurple-color : #e5e2ff;
    --object-lightyello-color : #fff6d8;
    --object-lightgreen-color : #DFF9F2;
    --object-clearblue-color : #f2f4f8;
    --object-skyblue-color : #d8eaff;

    /* object 컬럼 색상별 text 진한 컬러 - 오브젝트색상 계열의 진한 fontcolor 로 매칭시켜서 사용하시면됨 */
    --object-lightgreen-font-color: #23C197;
    --object-lightyello-font-color: #f46d19;
    --object-lightpurple-font-color: #2614F3;

    /* 포인트 컬러 */
    
    /* 기본 텍스트 컬러 */
    --text-black-color: #0e0e0e; 
    --text-white-color: #fff; 
    --text-gray-color: #222; 

}

/* 스타일 clear 공통 코드 start */
.nanum-n {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nanum-b {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nanum-eb {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.size-s {
    font-size: 1rem;
}

.size-n {
    font-size: 2rem;
}

.size-b {
    font-size: 3rem;
}



/* noticeList.jsp css 시작 */

.board_title {
	 width: 80vw;
      margin: auto;
      height:20vh !important;
      display: flex;
      align-items: flex-end;
      background-color: ( --text-black-color);
	
}

.board-list {
  /*   list-style: none;
    display: flex;
    flex-direction: column;*/
    gap: 10px; 
/*     border: solid 1px red; */
    margin-top: 40px; 
    width: 80vw;
    margin: auto;
}

.board-item{
	padding : 20px 20px;
	transition: 0s;
	 border-bottom: solid 1px #eee;
	 border-radius: 25px;
	 text-overflow:ellipsis;
	 
	 

}
.board-item:hover{
        background-color: #f0f0f0;
   opacity:0.6;
   text-overflow:ellipsis;
    }

.board-item-title {
	font-wight: bold;
font-size: 24px;	
color: rgb(78, 89, 104);
display: block;
text-overflow:ellipsis;
}


.p {
	font-size : 44px;
	
}

body > div.homebar {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 10px;
	
}

.board-container {
    padding: 20px;
    position: relative;
   
}
.df {
	position: absolute;
	bottom: 13px;
	right: 83px;
	width: 90px;
	height: 30px;
	background-color: var(--sub-background-color);
	 text-align: center;
        line-height: 20px;
        padding-top: 39px;
        height: 96px;
        border-radius: 80px;
        box-shadow: 2px 3px 3px 0px;
        display:block;
	
}
.board-item-date{
	
	     display: inline-block;
        padding-top: 10px;
        font-size: 14px;
        color:  rgb(139, 149, 161);
}



.board-item-title {
    flex: 1;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 10px;
}

.board-item-title a {
    color: var(--text-black-color);
    display: inline-block;
    max-width: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.attachment-icon img {
    vertical-align: middle;
   
}

.board-item-body {
 
	  display: flex;
    justify-content: space-between;
    align-items: center;
}

.attach_sh {
	
	padding-right: 10px;
}


.page-link {
    border: none !important;
    color: black;
}

.nowPage{
    font-weight: bold;
}

/* === noticeList.jsp css 끝 == */

/* noticeView.jsp 시작 */
.board-item-datee{
 margin-left: 10%;
 margin-top: 8px;
     font-weight: 400;

}
/* noticeView.jsp 끝 */


.writebtn{
	
	text-align: center;
}
