@charset "UTF-8";

/* 스타일 clear 공통 코드 start */
.nanum-n {
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.nanum-b {
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.nanum-eb {
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.size-s {
	font-size: 1rem;
}

.size-n {
	font-size: 2rem;
}

.size-b {
	font-size: 3rem;
}

/*============== noticeList.jsp 시작 =========== */

.notice0000 {
	/* padding: 10px; */
/* 	margin-top: 50px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80vw;
	margin: auto;
	height: 30px;
}


.board_title {
	margin: auto;
	font-size: 10px;
 height: 50px;
 margin-top: 200px;
	width: 80vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
 /*  padding: 98px 0; */
 
    background-color: (--text-black-color);
   
    align-items: center;
    
  
    
}
.board-list {
 	/* cursor:pointer;  */
	gap: 10px;
	margin-top: 40px;
	width: 80vw;
	margin: auto;

}


.board-item {
	cursor:pointer;
	padding: 10px;
	transition: 0.3s;
	border-bottom: solid 1px #eee;
	border-radius: 4px;
	text-overflow: ellipsis;
	
	
}

.board-item:hover {
	background-color: #f0f0f0;
	padding: 10px;
	opacity: 0.4;
	text-overflow: ellipsis;
}
.board-item-title {
	font-wight: bold;
	display: block;
/* 	
	font-size: 24px;
	color: rgb(78, 89, 104);
	
	text-overflow: ellipsis; */
display:flex;
}



body>div.homebar {
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}
.board-container {
 	padding: 20px;
	position: relative;
	
}


.b_border{
	border-bottom: solid 1px rgb(163, 163, 163);

}
.b_border:hover{
		background-color: #f0f0f0;
	opacity: 0.6;
	text-overflow: ellipsis;
}
.subject{
	border-top: 3px solid black;
	border-bottom: 1px solid black;
	border-bottom: none;
}

.notice-btn{
 padding:5px;
 background-color: var(--navy700);
 color: var(--blue50);
 font-family: 'Nanum Gothic', sans-serif !important;
 font-size: 1rem;
 border-radius: 5px;

} 
 .notice-btn:hover{
	background-color: var(--grey600);
}
/* .notice-btn {
	

	/* display:block;
 border: none;
    border-radius: 0;
    background-color: var(--navy700);
    color: var(--blue50);
    height: 38px;
    transition: all 0.5s;
    font-family: 'Nanum Gothic', sans-serif !important;
    font-size: 1rem;
    border-radius: 4px; */
}

/* .notice-btn:hover{
	background-color: var(--grey600);
} */

.board-item-date {
	display: inline-block;
	/* padding-top: 10px; */
	font-size: 14px;
	color: rgb(139, 149, 161);
}
.board-item-title {
	flex: 1;
	font-size: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	align-items: center;
	gap: 10px;
}
.board-item-title a {
	color: var(- -text-black-color);
	display: inline-block;
	max-width: 120%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.attachment-icon img {
	vertical-align: middle;
}

.attach_sh {
	padding-right: 10px;
}

.board-item-title, .board-item-date, .notice-viewcount {
  text-align: left;
  padding: 0 10px;
}


.board-item-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-link {
	border: none !important;
	color: black;
}

.nowPage {
	font-weight: bold;
}
.pagination {
	display: flex;
	justify-content: center;
	padding-left: 0;
	list-style: none;
}

.page-item {
	margin: 0 5px;
}


.page-link {
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #000000;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.subject {

		border-top: 3px solid black;
	border-bottom: 1px solid black;
}
.page-item.active .page-link {

	z-index: 1;
	color: #000000;
	background-color: #ffffff;
	border-color: #000000;
}
/*============== noticeList.jsp 끝 =========== */

/* noticeView.jsp 시작 */

.notice-container {
	width: 80vw;
	margin: auto;
	padding: 70px 0;
	text-align: left;
	border-bottom: 1px solid #ddd;
	 position: relative;
}

.notice-info2 {
  
       margin-left: auto; 
    display: flex;
    align-items: center;
}

.notice-info span {
	margin: 0 10px;
}
.board_title1 {
	padding-bottom: 27px;
	width: 80vw;
	margin: auto;
	height: 20vh !important;
	display: flex;
	align-items: flex-end;
	font-size: 2rem;
	font-weight: bold;
}

.notice-info {
	 margin-bottom: 20px;
    text-align: left;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.notice-content {
	padding: 20px 0;
	margin-bottom: 20px;
/* 	font-size: 1.2em; */
	/* height: 700px; */
 margin-bottom: 39px; 
}
.notice-attachment {
	 margin-bottom: 20px;
	font-size: 1em;

	 width: 100%;
    margin-top: 10px;
}
.notice-info2 button:first-child {
    margin-left: 0;
}

.notice-info2 button {
    margin-left: 10px; 
}

.attachment-label {
	font-weight: bold;
}
.notice-button01, .notice-button02, .notice-button03 {
	border: none;
	border-radius: 0;
	background-color: var(- -navy700);
	color: var(--blue50);
	height: 38px;
	transition: all 0.5s;
	font-family: 'Nanum Gothic', sans-serif !important;
	font-size: 1rem;
	border-radius: 4px;
}

.notice-button01:hover, .notice-button02:hover, .notice-button03:hover {
	background-color: var(--grey600);
	
}

 .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 120%;
    height: 100%;
    overflow: auto;
   /*  background-color: rgba(0, 0, 0, 0.5); semi-transparent background */
}

.modal-content {
   /*  background-color: #fefefe; */
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 60px;
    border: 1px solid #888;
    width: 450px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}

.modal-content h2 {
    margin-top: 10px;
 font-size: 20px; 
    text-align: center;
     
}


.modal-buttons {
    text-align: center;
    margin-bottom: 20px;

}

.modal-buttons button {
    margin: 20x 15px;
    padding: 15px 29px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
     margin-left: 10px;
       
}

.modal-buttons .confirm {
/*     background-color: #4caf50; */
    color: white;
}

.modal-buttons .cancel {
    background-color: #f44336;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
  position: absolute; 
    top: 10px;         
    right: 15px;         
    line-height: 1;     
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* noticeView.jsp 끝 */
.writebtn {
	text-align: center;
}

tr>th {
	text-align: center;
}
.board_title11{
	width: 60vw;
	display: flex;
	justify-content: center;
	margin-top: 120px;
	/* margin-bottom: -20px; */
	
	
}

#wrapper>div>div:nth-child(3)>div>form>table>tbody>tr:nth-child(2)>th {

	margin: 40px auto;
	vertical-align: middle;
}

  #nextBoard {
     
       margin-top:20px;
            border-top: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
          width: 100%;
            margin-left: 0%;
        }

        #nextBoard tr {
            height: 60px;
        }

        #nextBoard td:nth-child(1) {
            width: 120px;
            font-size: 14px;
            line-height: 3;
            text-align: center;
            color: #767676;
        }

        #nextBoard td:nth-child(2) {
          /*   width: 880px; */
              width: auto;
            font-size: 16px;
            /* padding: 17px 98px 17px 32px; */
              padding: 17px 20px; 
        }

        #nextBoard a {
            text-decoration: none;
        
            color: #000;
        }

        #nextBoard a:hover {
            text-decoration: underline;
        }

        #nextBoard span {
            color: #767676;
        }
/* noticeView.jsp 끝 */