@charset "UTF-8";

.nanum-n {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nanum-b {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nanum-eb {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.size-s {
    font-size: 1rem;
}

.size-n {
    font-size: 2rem;
}

.size-b {
    font-size: 3rem;
}