@charset "UTF-8";

/* 스타일 clear 공통 코드 start */

body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.sizearr {
    width: 85%;
    margin: 0 auto;
}

/* 스타일 clear 공통 코드 end */

/* accordion START */

.lookupdiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 14px;
    padding-top: 14px;
}

.lookupfnq{
    margin: 0;
    font-size: 12pt;
    padding: 12px 16px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #0000000d;
    color : var(--primary-background-color);
    background-color: var(--object-clearblue-color);
    transition: all 0.5s;
}

.lookupfnq:hover{
    cursor: pointer;
    background-color: var(--primary-background-color);
    color: var(--text-white-color);
}

.accordion-button {
    box-shadow: none !important;
}

.accordion-button[aria-expanded="true"] {
    background-color: var(--primary-background-color) !important;
    box-shadow: none !important;
}

.accordion-button span{
    transition: all 0.5s !important;
}

.accordion-body{
    border: solid 3px var(--primary-background-color) !important;
}

.accordion-button[aria-expanded="true"] span {
    font-weight: bold !important;
    font-size: 18pt !important;
    color : var(--text-white-color) !important;
}

/* accordion END */

/* 성심 promo_section Start  */

.sim_promo_section {
	padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    max-width: 1412px;
    margin: 40px auto;
    align-items: center;
    justify-content: space-around;
}

.sim_promo_section_banner {
    background-color: var(--primary-background-color);
    color: var(--text-white-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 47vh;
}

.sim_promo_section_banner img {
	max-width: 100%;
    height: 58vh;
    border-radius: 11px;
}

.banner-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner-text p {
    font-size: 18px;
    margin-bottom: 10px;
}

.sim_promo_section_banner_image img {
    max-width: 300px;
    border-radius: 10px;
}

.sim_promo_section_services {
	width: 35rem;
    background-color: var(--text-white-color);
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sim_promo_section_services h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sim_promo_section_service_links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: var(--object-clearblue-color);
    border-radius: 10px;
    padding: 20px;
    height: 31vh;
    align-items: center;
}

.sim_promo_section_service_links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.sim_promo_section_service_links .icon:first-child {
    background-color: var(--object-lightgreen-font-color);
}

.sim_promo_section_service_links a:first-child {
    color: var(--object-lightgreen-font-color);
}


.sim_promo_section_service_links .icon {
    background-color: #e1e1e1;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940), 
    box-shadow 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.sim_promo_section_service_links .icon span {
	font-size: 3.5rem;
}



.sim_promo_section_service_links .icon:hover {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.sim_promo_section_banner_notice {
    background-color: #e6f7ff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.sim_promo_section_banner_notice ul li {
    font-size: 17px;
}
.sim_promo_section_banner_notice h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.sim_promo_section_banner_notice a {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: #0066cc;
}

.sim_promo_section_banner_notice ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sim_promo_section_banner_notice li {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}



.sim_promo_section_banner_notice li span {
    color: #666;
}
/* 성심 promo_section end  */

.reservation {
    padding: 50px 20px;
    background-color: #f1f1f1;
}


.reservation h1{
    text-align: center;
    margin-bottom: 30px;
}

.selection {
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.category-selection ul {
    list-style: none;
    padding: 0;
}

.category-selection ul li {
    padding: 10px 0;
}

.region-selection {
    width: 50rem;
}

.region-selection .gray-box {
    margin-top: 4vh;
    background-color: #cccccc;
    height: 46vh; 
    border-radius: 10px;
}

.category-selection, .region-selection, .search {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-selection h4, .region-selection h4, .search h4 {
    margin-top: 0;
}

.api-detail {
    margin-top: 10px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 25vh;
}

.search input {
    width: calc(100% - 100px);
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.search button {
padding: 10px;
font-size: 16px;
background-color: #007bff;
color: white;
border: none;
cursor: pointer;
}

.features {
display: flex;
justify-content: center;
padding: 50px 20px;
}

.feature {
text-align: center;
padding: 20px;
}

.feature .small-gray-box {
background-color: #cccccc;
}
.feature h4 {
margin-top: 2vh;
}


.info {
display: flex;
justify-content: space-between;
padding: 40px;
border-radius: 20px;
margin: 40px auto;
}

.notice, .resources, .contact {
background-color: #ffffff;
padding: 20px;
border-radius: 10px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
flex: 1;
margin: 0 10px;
}

.heading {
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #ddd;
padding-bottom: 10px;
margin-bottom: 20px;
}

.notice h4, .resources h4, .contact h4 {
font-size: 26px;
font-weight: 400;
color: #000;
}

.notice ul, .resources ul {
list-style: none;
padding: 0;
margin: 0;
}

.notice li, .resources li {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 16px;
color: #000;
padding: 10px 0;
border-bottom: 1px solid #eee;
}


.contact p {
font-size: 16px;
color: #000;
margin: 10px 0;
}

.contact .phone-number {
font-size: 32px;
font-weight: bold;
color: #007bff;
}

.contact-options {
display: flex;
justify-content: space-around;
margin-top: 20px;
padding: 0;
}

.contact-options a {
background-color: #f2f4f8;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
color: #000;
text-align: center;
flex: 1;
margin: 0 5px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.contact-options a:hover {
background-color: #e1e1e1;
}



/* 성심css */
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1350px;
  margin: 0 auto;
  position: relative;
}

/*===================================================================================*/
/*===================================================================================*/
/*===================================================================================*/
/*===================================================================================*/
/* ☆혜정☆ css */
session.hj_section{
    background-color: var(--object-lightgreen-color);
    border-radius: 10px;
}

h2.hj_h2_flex{
    display: inline-flex;
    font-size: 1.75rem;
}

a.hj_notice_plusicon{
    width: 20px;
    display: none;
}

i.hj_plusicon{
    color: var(--primary-background-color);
}

i.hj_plusicon:hover{
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
}

a.hj_notice_plus{
    color: var(--primary-background-color);
    border-bottom: 1px solid var(--primary-background-color);
}

p.hj_notice_content{
    height: 100px;
}

div.hj_section_noticelist{
    height: 220px;
}



.pointerNoitice{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--primary-background-color);
    transition: all 0.3s;
    cursor: pointer;
}

div.hj_noticeitem{
    position: relative;
    transition: all 0.3s ease-in-out;
    border: solid 2px var(--object-skyblue-color);
}

div.hj_noticeitem:hover{
    cursor: pointer;
}

.hj_cardEvent{
    z-index: 1000;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.18);
    transform: scale(1.02);
}

.hoverNoticesection{
    padding : 4rem 1rem !important;
}

.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.hj_notice_content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.pango{
	cursor: pointer;
}
/*===================================================================================*/
/*===================================================================================*/
/*===================================================================================*/
/*===================================================================================*/



/* 승혜css */




/*
.subpage {
    width: 100%;
    height: 900px;
  } 
  */
    .sh_subpage {
        font-family: 'Nanum Gothic', sans-serif;
     
        color: var(--text-black-color);
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    
    
    .sh_title {
        text-transform: uppercase;
        font-size: 70px;
        color: var( --primary-background-color);
    }
.sh_card-inner {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 40px;
  justify-content: space-around;
}

.sh_car{
    display: none;
  
}

      .sh-card{
        width: 200px;
        height: 200px;
        margin: 20px;
        border-radius: 30px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        padding: 20px;
        transition: 1s;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .sh_card-front {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .sh-card img {
        width: 80%;
        height: 80%;
        object-fit: contain;
      }
      
      .sh_card-front h4 {
        margin: 0;
        margin-top: 12px;
      }
      .sh_card-text {
        display: none;
      }
      .sh-card:hover {
        background-color: var(--primary-background-color);
        color: var(--sub-background-color);
      }
      .sh-card:hover .sh_card-front {
        display: none;
      }
      .sh-card:hover .sh_card-text {
        display: flex;
      }
      .sh_card-text{
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        position: relative;
        width: 100%;
        height: 100%;
      }
      .sh_card-title{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
        }
        .sh_card-text p{
            font-size: 12px;
        }
      .sh_card-text .img-content{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img-content img{
        width: 35px;
        height: 35px;
        object-fit: contain;
      }
    .sh_car{
        display: none;
    }
    
    .plz{
        justify-content: center !important;

    }
.sh_font{
	font-size: 0.9rem;
}
