@charset "UTF-8";

@media (max-width: 768px) {

    /* 동혁 START */

    .header-container{
        justify-content: space-between;
        padding: 0 24px;
    }

    .login {
        width: 100px;
    }

    .login a {
        padding: 4px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px #0000000d;
        padding: 10px 0;
        border-radius: 8px;
    }
  
    nav ul.show {
        display: flex;
        margin: 0;
        padding: 0;
        height: 30vh;
        width: 100%;
    }

    .logo {
      display: none;
    }
  
    .navbar-toggler {
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
  
    .navbar-toggler-icon {
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: #333;
        position: relative;
    }
  
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: '';
        width: 30px;
        height: 3px;
        background-color: #333;
        position: absolute;
        left: 0;
    }
  
    .navbar-toggler-icon::before {
        top: -10px;
    }
  
    .navbar-toggler-icon::after {
        top: 10px;
    }

    aside.fixed-nav{
        display: none;
    }

    .accordion-button[aria-expanded="true"] span {
        font-size: 14pt !important;
    }

    #footer_img{
        display: none;
    }

    /* 동혁 END */

  /* 성심 start */
    .sim_promo_section {
    flex-direction: column;
    padding: 2rem;
    height: 150vh;
    }

    .sim_promo_section_banner {
        width: inherit;
        height: 50vh;
    }

    .sim_promo_section_services { 
        margin-left: 0px;
        padding: 0px;
    }
    .sim_promo_section_service_links .icon {
        width: 8rem;
        height: 8rem;
    }
    .sim_promo_section_service_links span {
        margin-top: 1.5vh;
        font-size: 18px;
    }

    .sim_promo_section_services h3 {
        font-size: 40px;
        margin-left: 1rem;
        margin-top: 7.5vh;
        margin-bottom: 4vh;
    }
    .sim_promo_section_banner_notice {
        padding: 25px;
    }
    .sim_promo_section_banner_notice h4 {
        font-size: 30px;
    }
    .sim_promo_section_banner_notice_flexbox {
        display: flex;
    }
    .sim_promo_section_banner_notice_flexbox a {
        font-size: large;
    }
    .sim_promo_section_banner_notice ul {
        margin-top: 10px;
    }
    .sim_promo_section_banner_notice ul li {
        font-size: large;
    }
    .sim_promo_section_service_links {
        margin-bottom: 40px;
    }
/* 성심 end */
    .hj_section{
        padding : 4rem 1rem !important;
    }
    div.hj_section_notice{
        text-align: center;
    }
    .sim_promo_section_services {
       margin-left: 0; 
    }
    a.hj_notice_plusicon{
        display: block;
    }
    a.hj_notice_plus{
        display: none;
    }
    div.hj_section_noticelist{
        height: 600px;
    }
    div.hj_cardMb{
        margin-bottom: 10px;
    }
 /* 승혜 작업 영역 START */
 div.sh_subpage{
        display: none;
    }
    div.sh_car{
        display: block;
    }

    /* 지훈 작업 영역 START */
    .jh_modal_content {
        /* 모달 영역 */
        width: 70% !important;
        margin: 10% auto !important;
    }

    /* 지훈 작업 영역 END */

}

/* 예외 처리 영역 */
@media (max-width: 1024px) {

    .input_text{
        display: none;
    }

   
    nav ul {
        width: 480px;
    }

}


