@charset "UTF-8";

@media (max-width: 768px) {

    #footer_img{
        display: none;
    }

  /* 성심 start */
    .sim_promo_section {
    flex-direction: column;
    padding: 2rem;
    height: 150vh;
    }

    .sim_promo_section_banner {
        width: inherit;
        height: 50vh;
    }

    .sim_promo_section_services { 
        margin-left: 0px;
        padding: 0px;
    }
    .sim_promo_section_service_links .icon {
        width: 8rem;
        height: 8rem;
    }
    .sim_promo_section_service_links span {
        margin-top: 1.5vh;
        font-size: 18px;
    }

    .sim_promo_section_services h3 {
        font-size: 40px;
        margin-left: 1rem;
        margin-top: 7.5vh;
        margin-bottom: 4vh;
    }
    .sim_promo_section_banner_notice {
        padding: 25px;
    }
    .sim_promo_section_banner_notice h4 {
        font-size: 30px;
    }
    .sim_promo_section_banner_notice_flexbox {
        display: flex;
    }
    .sim_promo_section_banner_notice_flexbox a {
        font-size: large;
    }
    .sim_promo_section_banner_notice ul {
        margin-top: 10px;
    }
    .sim_promo_section_banner_notice ul li {
        font-size: large;
    }
    .sim_promo_section_service_links {
        margin-bottom: 40px;
    }
/* 성심 end */
    .hj_section{
        padding : 4rem 1rem !important;
    }
    div.hj_section_notice{
        text-align: center;
    }
    .sim_promo_section_services {
       margin-left: 0; 
    }
    a.hj_notice_plusicon{
        display: block;
    }
    a.hj_notice_plus{
        display: none;
    }
    div.hj_section_noticelist{
        height: 600px;
    }
    div.hj_cardMb{
        margin-bottom: 10px;
    }
 /* 승혜 작업 영역 START */
 div.sh_subpage{
        display: none;
      
    }
 h4.sh_font{
	font-size: 0.6rem;
}
    
    div.sh_car{
        display: block;
    }

    /* 지훈 작업 영역 START */
    .jh_modal_content {
        /* 모달 영역 */
        width: 70% !important;
        margin: 10% auto !important;
    }

    /* 지훈 작업 영역 END */

}

/* 예외 처리 영역 */
@media (max-width: 1024px) {
    
    nav ul {
        width: 480px;
    }
 /* 승혜 작업 영역 START */

    .sh_card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px; 
        padding-right: 50px; 
    }

    .sh_card-inner {
        width: calc(90% - 10px); 
        box-sizing: border-box;
    }

    .sh-card {
        height: 198px; 
    }
    h4.sh_font{
	font-size: 0.6rem;
}

    /* 승혜 작업 영역 END */
}


