@charset "UTF-8";

@media (max-width: 768px) {

    .tagloc{
        display: block;
    }

    .reserve_title{
        font-size: 2.5rem !important;
    }

	.reserve_seq{
		padding: 0;
	}

    .reserve_licontent{
        font-size: 1.7rem !important;
        padding: 5px;
    }

    .hj_custom-checkbox-label{
        display: none;
    }
    
    .choiceday{
    	display: none;
    }
    
    .choicedr{
    	width: 100%;
    }

    .searchhp{
        padding: 24pt 8pt;
        flex-wrap: wrap;
    }

    .location_select{
        width: 60%;
    }
    
    .class_select{
        width: 40%;
    }
    
    .name_input{
        margin-top: 8px;
        width: 100%;
    }

}

@media (max-width:1280px){

    .reserveContent{
        width: 85%;
    }

}