@charset "UTF-8";

.reserveContent{
    width: 80%;
    margin: 0 auto;
}

.reserveTitlediv{
    border-bottom: solid 2px var(--grey700);
}

.reserve_title{
    display: block;
    line-height: 5rem;
    text-align: center;
    color: var(--grey800);
}

.reserve_seq{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.reserve_li{
    list-style: none;
    text-align: center;
    justify-content: center;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.35);
    background-color: var(--grey600);
    color : var(--text-white-color);
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.reserve_licontent{
    padding: 30px;
    font-size: 1.3rem;
}

.choiceday{
    background-color: var(--grey800) !important;
    color : var(--text-white-color) !important;
}

.div_choiceDay{
    border-top: solid 3px var(--grey300);
    padding-top: 48px;
    padding-bottom: 24px;
    height: 700px;
}

.reserve_day{
    border: solid 1px black;
}

.choiceTimediv{
    border: solid 1px black;
}

.exTimebtn{
    border: solid 1px var(--text-gray-color);
    border-radius: 5px;
    padding: 10px 10%;
    background-color: var(--blue50);
}

.timebtn{
    padding: 12px 12px;
    justify-content: space-between;
    border: none;
}

.exTimebtn:hover{
    background-color: var(--blue200);
    cursor: pointer;
}

.btn_proc{
	border: none;
    border-radius: 0;
    background-color: var(--navy700);
    color:var(--blue50);
    height: 38px;
    transition: all 0.5s;
    font-family: 'Nanum Gothic', sans-serif !important;
    font-size: 1rem;
    border-radius: 4px;
}

.btn_proc:hover{
    background-color: var(--navy900);
    color:var(--grey50);
}

.choiceReserveday{
    background-color: var(--navy600);
    color : var(--blue50) !important;
    font-weight: bold;
}