@charset "UTF-8";

.reserveContent{
    width: 80%;
    margin: 0 auto;
}

.reserveTitlediv{
    border-bottom: solid 2px var(--grey700);
}

.reserve_title{
    display: block;
    line-height: 5rem;
    text-align: center;
    color: var(--grey800);
}

.reserve_seq{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.reserve_li{
    list-style: none;
    text-align: center;
    justify-content: center;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.35);
    background-color: var(--grey600);
    color : var(--text-white-color);
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.reserve_licontent{
    padding: 30px;
    font-size: 1.3rem;
}

/* 선택 영역 */

.choiceday{
    background-color: var(--grey800) !important;
    color : var(--text-white-color) !important;
}

.div_choiceDay{
    padding-top: 48px;
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

/* 캘린더 영역 */

.reserve_day{
    width: 620px;
}

#calendar {
    width: 95%;
    margin: 0 auto;
}

a.fc-event{
    background-color: var(--blue200) !important;
    border: none !important;
}

.fc-event-main{
    height: 30px !important;
}

.fc-event-title-container{
  text-align: center;
  padding-top: 2px;
  height: 20px;
  transition: all 0.5s;
}

.fc-day-today{
    background-color : var(--blue100) !important;
}

/* 시간 셀랙 영역 */

.choiceTimediv{
    width: calc(100% - 620px);
}

.exTimebtn{
    border: solid 1px var(--text-gray-color);
    border-radius: 5px;
    padding: 10px 10%;
    background-color: var(--blue50);
}

.timebtn{
    padding: 12px 12px;
    justify-content: space-between;
    border: none;
}

.exTimebtn:hover{
    background-color: var(--blue200);
    cursor: pointer;
}

.btn_proc{
	border: none;
    border-radius: 0;
    background-color: var(--navy700);
    color:var(--blue50);
    height: 38px;
    transition: all 0.5s;
    font-family: 'Nanum Gothic', sans-serif !important;
    font-size: 1rem;
    border-radius: 4px;
}

.btn_proc:hover{
    background-color: var(--navy900);
    color:var(--grey50);
}

.choiceReserveday{
    background-color: var(--navy600);
    color : var(--blue50) !important;
    font-weight: bold;
}

.checkbold{
	font-weight: bold;
}

@media (max-width: 768px) {

    .reserve_title{
        font-size: 2.5rem !important;
    }

    .reserve_seq{
		padding: 0;
	}

    .reserve_licontent{
        font-size: 1.7rem !important;
        padding: 5px;
    }

    .choicedr{
    	display: none;
    }
    
    .choiceday{
    	width: 100%;
    }

}