@charset "UTF-8";

#calendar {
  max-width: 1100px;
  margin: 0 auto;
}

/* 추가적으로 커스텀한 css 스타일 */
/* 사이즈에 맞게 커스텀 하면 된다! */

.fc-daygrid-day-frame{
  height: 50px !important;
}

.fc-event-title-container{
  text-align: center;
  padding-top: 2px;
  height: 20px;
  transition: all 0.5s;
}

.fc-event-title-container:hover{
  background-color: blue;
  cursor: pointer;
}